/* Reset do CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-image: url("../img/fundo.jpg");
    background-size: auto 100vh;
    font-family: Arial;
    height: 100vh; 
    font-size: 12px;       
  }

  /* Se a tela tiver pelo menos 400px vai carregar esses estilos */
  @media (min-width: 400px) {
    body {
      font-size: 14px;
    }
  }
 
 /* Breakpoint */
  @media (min-width: 600px) {
    body {
      font-size: 18px;
    }
  }

  header{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .menu {
    background-color: #d1e0e0;
    position: fixed;
    width: 100vw;
    top: 0;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  
  .menu li{
    list-style: none;
  }

  .menu a{    
    padding: 10px 20px;
    display: block;
  }
  
  a{
    color: #336699;
    text-decoration: none;
  }
  
  a:hover{
    text-decoration: underline;
  }
  
  .site-subtitle,
  .site-title{
    color: #336699;
    text-align: center;     
  }
  
  .site-title{
    font-size: 2em;
  }

  .site-subtitle{
    font-style: italic;
  }

  .img-portfolio {
    width: 180px;
    height: 180px;
  }